<h1>{{ poll.question }}</h1>
<form action="/polls/{{ poll.id }}" method="delete">
    <button>DELETE Poll</button>
</form>
<br />
<ul>
    {{#each poll.Choices }}
        {{#if this.description }}
            <a href="{{ this.PollId }}/{{ this.id }}/increment"><li>{{ this.description }} [{{ this.count }}]</li></a>
        {{/if }}
    {{/each }}
</ul>
<br />
<a href="/polls">&lt;-- Back to Polls</a>